.post_container-style {
  text-align: center;
}
.post_div-style {
  height: 10em;
  width: 50%;
  background-color: aqua;
}
.submit-style {
  background-color: antiquewhite; /* dont use color which sets text and background to same color so you dont see both */
  border: 1px solid black;
  border-radius: 4px;
}
text-style {
  color: black;
}
